<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>To Do List</h1>
			<% if @date.empty? == false %>
				<% @date.each do |date| %>
					<p><%= date.strftime('%B %d, %Y') %></p>
		    	<ul>	
		    		<% @items.each do |item| %>
		      		<% if date == item.dueby %>
		      			<li>
			        		<h3><%= link_to item.chore, item, title: "Click When Done", rel: "tooltip", method: :delete, data: { confirm: 'Are you sure?' } %></h3>
			        		<p><%= link_to '', edit_item_path(item), class: "glyphicon glyphicon-pencil", title: "Click To Edit", rel: "tooltip" %></p>
			        	</li>
		    			<% end %>
		    		<% end %>
		    		<br />
		    	</ul>
		    <% end %>
		  <% end %>

		<br />

		<%= link_to 'New Item', new_item_path %>
		<br />
		<br />
	</div>
</div>